name: Trouver iOS CI
on:
  push:
    branchs:
    - main
  pull_request:
    branches:
    - develop
jobs:
  test:
    name: Testing Trouver iOS app
    runs-on: macOS-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v1
      - name: Force Xcode 12.2
        run: sudo xcode-select -switch /Applications/Xcode_12.2.app
      - name: Testing iOS app
        run: exec chmod +x ./.github/scripts/test_app.sh