name: Trouver iOS CI
on:
  pull_request:
    branches:
    - develop
jobs:
  test:
    name: Testing Trouver iOS app
    runs-on: macOS-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v1
      - name: Force Xcode 12.3
        run: sudo xcode-select -switch /Applications/Xcode_12.3.app
      - name: Touch APIKeys.plist
        working-directory: ./src/Trouver
        run: touch APIKeys.plist
      - name: Install Cocoapods
        working-directory: ./src
        run: pod install
      - name: Testing iOS app
        working-directory: ./src/build-scripts
        run: sh test_app.sh
